
.App {
  font-size: 18px;
  width: 100%;
  background: rgb(240, 252, 255);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  width: 100%;
  color: rgb(70, 70, 70);
  height: 90px;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
  font-weight: bold;
}



nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  font-size: 19px;
  text-decoration: none;
  transition: all 0.2s;
  color: rgb(70, 70, 70);
}

nav ul li a:hover {
  color: rgb(86, 198, 238);
  border-bottom: 1px solid rgb(86, 198, 238);
  padding-bottom: 8px;
}

.firstView__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: all 5s ease-out;
}

.firstView__text {
  color: rgb(255, 255, 255);
  padding-top: 80px;
}

.firstView__title {
  font-size: 60px;
}

.firstView__desc {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

.about {
  padding-top: 200px;
}

.line {
  width: 100%;
  height: 180px;
  transform: matrix(0.99862, -0.05233, 0.05233, 0.99862, 0, 0 );
  background: rgb(241, 241, 241);
}

.inner {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.about__title {
  position: absolute;
  top: -130px;
  font-size: 50px;
  letter-spacing: 10px;
  color:rgb(176, 174, 174);
}

.about__content {
  position: relative;
  padding: 100px 0 100px;
}

.about__detail {
  border-left: 1px solid rgb(3, 3, 3);
  padding-left: 100px
}

.about__detail h3 {
  font-size: 30px;
  letter-spacing: 10px;
}

.about__detail:not(:first-child) {
  padding-top: 100px;
}

.about__detail p:not(:first-child) {
  border-bottom: 1px solid rgb(3, 3, 3);
  padding: 50px;
}

.contact {
  max-width: 980px;
  height: 100vh;
  padding-top: 100px;
  margin: 0 auto; 
}

.contact h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(191, 191, 191);
  letter-spacing: 5px;
}

.contact__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contact__field {
  margin-top: 20px;
}

.contact__field label {
  display: block;
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(176, 174, 174);
}

.contact__field input {
  width: 300px;
  height: 40px;
  border: 1px solid rgb(228, 228, 228);
  margin-top: 10px;
  box-shadow: 9px 11px 42px -2px #b2d1e1;
  border-radius: 10px;
}

.contact__right {
  margin-left: 50px;
}

.contact__right input {
  height: 150px;
}

.contact__send {
  text-align: center;
  margin-top: 50px;
}

.contact__send button {
  width: 70px;
  height: 30px;
  color: rgb(149, 146, 146);
  border: 1px solid rgb(228, 228, 228);
  box-shadow: 9px 11px 42px -2px #b2d1e1;
  border-radius: 7px;
}

.contact__error {
  color: red;
  margin: 0;
  align-self: flex-start;
}

.content__messageOk {
  margin-top: 30px;
  color: rgb(105, 104, 104);
  font-size: 15px;
}

.product {
  padding-top: 200px;
  height: 100vh;
}

.product__title {
  position: absolute;
  top: -155px;
  font-size: 50px;
  letter-spacing: 10px;
  color:rgb(176, 174, 174);
}

.product__list {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.product__list li:first-child {
  margin-right: 100px;
}

.product__list li {
  list-style: none;
  max-width: 300px;
  max-height: 200px;
}

.product__list img {
  height: 100%;
  width: 100%;
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
  border-radius: 10px;
}

.product__list img:hover {
  box-shadow: 0px 0px 37px 17px #bababa;
  transform: scale(1.2);
}

.product__list li p {
  margin-top: 50px;
  color: rgb(176, 174, 174);
  text-align: center;
}

